<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="service.ko-sima">
        <category id="core" label="32001">
            <group id="sima.core" label="">
                <setting label="32002" type="integer" id="sima.queue_length">
                    <level>0</level>
                    <default>10</default>
                    <control type="edit" format="integer">
                        <heading>32002</heading>
                    </control>
                </setting>
                <setting label="32003" type="integer" id="sima.history_duration">
                    <level>0</level>
                    <default>8</default>
                    <control type="edit" format="integer">
                        <heading>32003</heading>
                    </control>
                </setting>
                <setting label="32004" type="boolean" id="sima.musicbrainzid">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32005" type="boolean" id="sima.repeat_disable_queue">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32006" type="boolean" id="sima.single_disable_queue">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32053" type="boolean" id="sima.party_mode_disable_queue">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="plugins" label="32007">
            <group id="sima.plugin.genre" label="32008">
                <setting label="32009" type="boolean" id="sima.plugin.genre.enabled">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32010" type="string" id="sima.plugin.genre.queue_mode">
                    <level>0</level>
                    <default>32011</default>
                    <constraints>
                        <options>
                            <option label="32011">32011</option>
                            <option label="32012">32012</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting label="32013" type="boolean" id="sima.plugin.genre.single_album">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32014" type="integer" id="sima.plugin.genre.track_to_add">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32014</heading>
	                </control>
                </setting>
                <setting label="32015" type="integer" id="sima.plugin.genre.album_to_add">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32015</heading>
	                </control>
                </setting>
            </group>
            <group label="32016" id="sima.plugin.crop">
                <setting label="32017" type="boolean" id="sima.plugin.crop.enabled">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32018" type="integer" id="sima.plugin.crop.consume">
                    <level>0</level>
                    <default>10</default>
                    <control type="edit" format="integer">
		                <heading>32018</heading>
	                </control>
                </setting>
            </group>
            <group label="32019" id="sima.plugin.random">
                <setting label="32020" type="boolean" id="sima.plugin.random.enabled">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32021" type="string" id="sima.plugin.random.flavour">
                    <level>0</level>
                    <default>32022</default>
                    <constraints>
                        <options>
                            <option label="32022">32022</option>
                            <option label="32023">32023</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting label="32024" type="integer" id="sima.plugin.random.track_to_add">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32024</heading>
	                </control>
                </setting>
            </group>
            <group label="32052" id="sima.plugin.tags">
                <setting label="32039" type="boolean" id="sima.plugin.tags.enabled">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32040" type="string" id="sima.plugin.tags.comment">
                    <level>0</level>
                    <constraints>
		                <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32040</heading>
                    </control>
                </setting>
                <setting label="32041" type="string" id="sima.plugin.tags.date">
                    <level>0</level>
                    <constraints>
		                <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32041</heading>
                    </control>
                </setting>
                <setting label="32042" type="string" id="sima.plugin.tags.genre">
                    <level>0</level>
                    <constraints>
		                <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32042</heading>
                    </control>
                </setting>
                <setting label="32043" type="string" id="sima.plugin.tags.label">
                    <level>0</level>
                    <constraints>
		                <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32043</heading>
                    </control>
                </setting>
                <setting label="32044" type="string" id="sima.plugin.tags.originaldate">
                    <level>0</level>
                    <constraints>
		                <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32044</heading>
                    </control>
                </setting>
                <setting label="32045" type="string" id="sima.plugin.tags.filter">
                    <level>0</level>
                    <constraints>
		                <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>32045</heading>
                    </control>
                </setting>
                <setting label="32046" type="string" id="sima.plugin.tags.queue_mode">
                    <level>0</level>
                    <default>32047</default>
                    <constraints>
                        <options>
                            <option label="32047">32047</option>
                            <option label="32048">32048</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting label="32049" type="boolean" id="sima.plugin.tags.single_album">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32050" type="integer" id="sima.plugin.tags.track_to_add">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32050</heading>
	                </control>
                </setting>
                <setting label="32051" type="integer" id="sima.plugin.tags.album_to_add">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32051</heading>
	                </control>
                </setting>
            </group>
            <group label="32025" id="sima.plugin.lastfm">
                <setting label="32026" type="boolean" id="sima.plugin.lastfm.enabled">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32027" type="string" id="sima.plugin.lastfm.queue_mode">
                    <level>0</level>
                    <default>32029</default>
                    <constraints>
                        <options>
                            <option label="32028">32028</option>
                            <option label="32029">32029</option>
                            <option label="32030">32030</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting label="32031" type="integer" id="sima.plugin.lastfm.max_art">
                    <level>0</level>
                    <default>20</default>
                    <control type="edit" format="integer">
		                <heading>32031</heading>
	                </control>
                </setting>
                <setting label="32032" type="integer" id="sima.plugin.lastfm.depth">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32032</heading>
	                </control>
                </setting>
                <setting label="32033" type="boolean" id="sima.plugin.lastfm.single_album">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32034" type="integer" id="sima.plugin.lastfm.track_to_add">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32034</heading>
	                </control>
                </setting>
                <setting label="32035" type="integer" id="sima.plugin.lastfm.album_to_add">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32035</heading>
	                </control>
                </setting>
                <setting label="32036" type="integer" id="sima.plugin.lastfm.track_to_add_from_album">
                    <level>0</level>
                    <default>1</default>
                    <control type="edit" format="integer">
		                <heading>32036</heading>
	                </control>
                </setting>
                <setting label="32037" type="boolean" id="sima.plugin.lastfm.shuffle_album">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="32038" type="boolean" id="sima.plugin.lastfm.cache">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>